;How to use: modify the machine parameters in this text and save, and then copy it to the TF card or U disk.
;Enter the "Settings" -> "System" -> "System Update", and select the TF card or U disk that with the configuration file.
;Select and implement the configuration file.

;Set System Parameters

M8000 L0 R248 V192 B0 T0
;    L: language(0: English 1: Simplified Chinese)
;    R: System UI red component
;    V: System UI green component
;    B: System UI blue component
;    T: Touch-tone(0: Disable 1: Enable)

;Set Printer Structure

M8100 S1
;    S: S0:XYZ; S1:delta; S2:corexy; S3:corexz;

;Set Delta Structure Parameters

M8100 H335.000 R195.690 L135.000 A283.200 B39.910 C13.540
;    H: Print Hight
;    R: Print Radius
;    L: Pushrod Lenght
;    A: Column Radius
;    B: Effector Offset
;    C: Carriage Offset

;Set Delta Endstop Height Error

M8151 A0.000 B0.000 C0.000
;    A: A-Column Endstop Height Error
;    B: B-Column Endstop Height Error
;    C: C-Column Endstop Height Error

;Set Delta Pushrod Lenght Error

M8152 A0.000 B0.000 C0.000
;    A: A-Column Pushrod Lenght Error
;    B: B-Column Pushrod Lenght Error
;    C: C-Column Pushrod Lenght Error

;Set Column Endstop Wiring Mode(0: Normal Open 1: Normal Close)

M8101 A0 B0 C0
;    A: A-Column Endstop Wiring Mode
;    B: B-Column Endstop Wiring Mode
;    C: C-Column Endstop Wiring Mode

;Set Column Endstop Trigger Mode(0: Low 1: Hig)

M8102 A0 B0 C0
;    A: A-Column Endstop Trigger Mode
;    B: B-Column Endstop Trigger Mode
;    C: C-Column Endstop Trigger Mode

;Set Printing Pause Parameters

M8104 X5.000 Y5.000 Z2.000 R6.500 F40.000
;    X: X-Axis Coordinates When Printing Paused
;    Y: Y-Axis Coordinates When Printing Paused
;    Z: Z-Axis Lift When Printing Paused
;    R: Retract Lenght When Printing Paused
;    F: Retract Speed When Printing Paused

;Set Change Filament Parameters

M8105 S200.000 F3600.000 L655.000 E20.000 R6.500
;    S: Min Change Filament Temperature
;    F: Filament Load/unload Speed
;    L: Filament Load/unLoad Lenght
;    E: Extrusion Length after Loading Filament
;    R: Retract Lenght

;Set Leveling Parameters

M8106 S0 X0.000 Y0.000 Z0.000 O10.000 C90.000 R160.000 T1 W0 F0
;    S: Leveling Points
;    X: X-Axis Probe offset
;    Y: Y-Axis Probe offset
;    Z: Z-Axis Probe offset
;    O: Probe Open Angle
;    C: Probe Close Angle
;    R: Probe Reset Angle
;    T: Probe Trigger mode
;    W: Probe Wriring mode
;    F: Probe Function(0: Just use for Leveling Probe 1: Use for Leveling Probe and Z Min Homing)

;Set Firmware Retract Parameters

M8107 S10.000 F6000.000 Z2.000
;    S: Retract Length
;    F: Retract Speed
;    Z: Z-Axis Lift when Retract

;Set Firmware Recover Parameters

M8108 S10.000 F6000.000 Z2.000
;    S: Recover Length
;    F: Recover Speed
;    Z: Z-Axis down when Recover

;Set Linear Advance K

M8109 E0 K0.000
;    E: Extruder Index
;    K: Linear Advance Value

;Set Linear Advance K

M8109 E1 K0.000
;    E: Extruder Index
;    K: Linear Advance Value

;Set Max Acceleration

M8201 X3000.000 Y3000.000 Z3000.000 E9000.000
;    X: X-Axis Max Acceleration
;    Y: Y-Axis Max Acceleration
;    Z: Z-Axis Max Acceleration
;    E: E-Axis Max Acceleration

;Set Acceleration

M8202 P1000.000 T1000.000 E9000.000
;    P: Print Acceleration
;    T: Travel Acceleration
;    E: Extruder Acceleration

;Set Limit Speed

M8203 X300.000 Y300.000 Z300.000 E300.000 P5.000 T5.000
;    X: X-Axis Max Speed
;    Y: Y-Axis Max Speed
;    Z: Z-Axis Max Speed
;    E: E-Axis Max Speed
;    P: Min Print Speed
;    T: Min Travel Speed

;Set jerk Speed

M8204 X20.000 Y20.000 Z20.000 E5.000
;    X: X-Axis jerk Speed
;    Y: Y-Axis jerk Speed
;    Z: Z-Axis jerk Speed
;    E: E-Axis jerk Speed

;Set homing Speed

M8205 X75.000 Y75.000 Z75.000
;    X: X-Axis homing Speed
;    Y: Y-Axis homing Speed
;    Z: Z-Axis homing Speed

;Set Positioning Speed

M8206 X20.000 Y20.000 Z20.000
;    X: X-Axis Positioning Speed
;    Y: Y-Axis Positioning Speed
;    Z: Z-Axis Positioning Speed

;Set Step Value

M8207 X320.000 Y320.000 Z320.000 A810.000 B98.000
;    X: X-Axis step Value
;    Y: Y-Axis step Value
;    Z: Z-Axis step Value
;    A: E0-Axis step Value
;    B: E1-Axis step Value

;Set Motor Diretion(0: CW 1:CCW)

M8208 X1 Y1 Z1 A0 B0
;    X: X-Motor Diretion
;    Y: Y-Motor Diretion
;    Z: Z-Motor Diretion
;    A: E0-Motor Diretion
;    B: E1-Motor Diretion

;Set Hothead Min Temperature

M8302 H0 S0.000
;    H: Hothead Index
;    S: Hothead Min Temperation

;Set Hotend Max Temperature

M8303 H0 S260.000
M8303 B110.000
;    H: Hothead Index
;    S: Hothead Max Temperation
;    B: Hotbed Max Temperation

;Set Hotend Temperature Protection Threshold

M8304 H0 S0.500
M8304 B0.200
;    H: Hothead Index
;    S: Hothead Temperature Protection Threshold
;    B: Hotbed Temperature Protection Threshold

;Set Hothend PID

M8305 H0 P211.439 I9.397 D1189.342
;    H: Hothead Index
;    P:Proportional coefficient
;    I: Integral coefficient
;    D: Differential term coefficient

;Set Hotbed PID

M8306 P1496.548 I42.156 D13281.860
;    P:Proportional coefficient
;    I: Integral coefficient
;    D: Differential term coefficient

;Set Hotend Preheat

M8390 H0 P200.000 A240.000 C190.000 Q210.000
M8390 B P60.000 A110.000 C75.000 Q80.000
;    H/B: Hotend Index
;    P:PLA Preheat Value
;    A: ABS Prheat Value
;    C: Custom Preheat Value
;    Q: Hotkey Preheat value

Save Parameters

M500
